:root {
    --primary-color: #4CAF50; /* Main color */
    --secondary-color: #81C784; /* Lighter shade of the primary color */
    --accent-color: #FFEB3B; /* Accent color */
    --text-color: #333; /* Dark text color */
    --background-color: #F0F0F0; /* Background color */
    --border-color: #388E3C; /* Border color */
}

body {
    background-color: var(--background-color);
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 30px;
}

.bingo-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4x4 grid */
    grid-gap: 15px;
}

.bingo-cell {
    border: 2px solid var(--border-color);
    height: 120px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color);
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.bingo-cell:hover {
    background-color: var(--accent-color);
    transform: scale(1.05);
}

.bingo-cell.drag-over {
    background-color: var(--accent-color);
}

.sentence-pool {
    /* margin-top: 20px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-gap: 10px;
    max-height: 525px;
    overflow-y: auto;
    padding: 10px;
    border: 2px solid var(--primary-color);
    background-color: var(--background-color);
    border-radius: 6px;
}

.sentence-item {
    padding: 12px;
    border: 1px solid var(--border-color);
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 6px;
    cursor: move;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.sentence-item:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}

.sentence-item:active {
    background-color: var(--accent-color);
    transform: scale(1.1);
}

.description {
    font-size: 18px;
    color: var(--text-color);
    margin-bottom: 20px;
    max-width: 800px;
    line-height: 1.5;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#save-button {
    background-color: var(--primary-color);
    border: none;
    color: #fff;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: block;
    margin: 30px auto 0;
    text-align: center;
}

#save-button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}

#save-button:active {
    background-color: var(--accent-color);
    transform: scale(1.1);
}

#clear-map-button {
    background-color: var(--primary-color); /* Use the same primary color */
    border: none;
    color: #fff; /* White text color */
    padding: 12px 20px; /* Same padding as save button */
    font-size: 16px; /* Same font size */
    font-weight: bold; /* Same font weight */
    border-radius: 6px; /* Same border radius */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: block;
    margin: 30px auto 0; /* Aligns the button like the save button */
    text-align: center;
}

#clear-map-button:hover {
    background-color: var(--secondary-color); /* Background color on hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
}

#clear-map-button:active {
    background-color: var(--accent-color); /* Background color on active */
    transform: scale(1.1); /* Further enlarge on active */
}

.btn-group {
    display: flex;
    justify-content: center;
    gap: 10px; /* Optional: Adjust gap between buttons if needed */
}

/* Responsive text */
h1 {
    font-size: 2rem;
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.5rem;
    }
}

/* Responsive modal */
.modal-dialog {
    max-width: 90%;
    margin: 1.75rem auto;
}

@media (min-width: 768px) {
    .modal-dialog {
        max-width: 500px;
    }
}