

.article_list {
    background-color: #646464;
    width: 80%;
    padding: 5px 10px;
}
  
.article_list ul {
    list-style-type: none;
    line-height: 50px;
    display: inline;
    padding: 10px 0px;
}

.article_list ul li {
    display: inline;
    margin: 5px;
}

.article_list ul li a {
    background-color: #7e2a33;
    font-size: 20px;
    padding: 10px 20px;
}

.article_list ul li a:hover {
    color: rgb(255, 255, 255);
    background-color: #661e25;
    cursor: pointer;
}