
#updates_container {
    background-color: #646464;
    width: 90%;
    padding: 5px 10px;
    margin-left: 30px;
}
  
#updates_container ul {
    list-style-type: none;
    line-height: 50px;
    padding: 0px;
}

#updates_container ul li {
    margin: 5px;
}

#updates_container ul li a {
    background-color: #7e2a33;
    font-size: 20px;
    padding: 10px 20px;
}

#updates_container ul li a:hover {
    color: rgb(255, 255, 255);
    background-color: #661e25;
    cursor: pointer;
}